<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css"/>
        
    </head>
    <body>
        {{>header}}
        <h3>Static Help File!</h3>
        {{>footer}}
    </body>
</html>